<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">install</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						1. node 설치
						- https://nodejs.org/

						2.create react app 설치
						- npm install -g create-react-app
						- npx create-react-app

						3.create react app 버전 확인
						- create-react-app -V

						4.워크스페이스 생성 및 이동
						- cd C:\WF-Project\test\01

						5.react 프로젝트 설치
						- create-react-app .

						6.배포
						- npm run build

						7.서버설치
						- npm install -g serve

						8.서버실행
						- npx serve -s build
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">plugin</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						1. chrome extention
						- React Developer Tools
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
