<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">command</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						cp -rf /home/xxx/*.* ./
					</textarea>
					<div class="entry-source-title">copy</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						mv xxx.txt xxx2.txt
					</textarea>
					<div class="entry-source-title">move or rename</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						* zip 압축
						zip [압축파일명.zip] [압축대상디렉토리 or 파일]

						* zip 하위디렉토리 포함 압축 : -r 옵션
						zip -r [압축파일명.zip] [압축대상디렉토리 or 파일]

						* zip 압축 해제
						unzip [압축파일명.zip]

						* zip 압축 해제 - 경로 지정
						unzip [압축파일명.zip] -d [압축해제디렉토리]
					</textarea>
					<div class="entry-source-title">zip</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						c=만든다, x=해제한다, v=과정을 보여준다, z=gzip사용, f=Archive사용

						* cvzf 압축
						tar -cvzf [압축된 파일 이름] [압축할 파일이나 폴더명]
						ex)$ tar -cvzf xxx.tar.gz ./xxx

						* xvzf 압축 해제
						tar -xvzf [압축 해제할 압축 아카이브 이름]
						ex)$ tar -xvzf xxx.tar.gz
						
						* xvzf 압축 해제
						tar -xvzf [압축 해제할 압축 아카이브 이름] -C [압축을 풀 경로]
						ex)$ tar -xvzf xxx.tar.gz -C ./xxx
					</textarea>
					<div class="entry-source-title">tar</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						$ vi ~/.bashrc

						alias wason='/usr/local/tomcat7/bin/startup.sh'
						alias wasdown='/usr/local/tomcat7/bin/shutdown.sh'
						alias wassrc='cd /usr/local/tomcat7/webapps'
						alias wastail='tail -f /usr/local/tomcat7/logs/catalina.out'

						$ source ~/.bashrc
					</textarea>
					<div class="entry-source-title">alias</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
