<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">command</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						cp -rf /home/xxx/*.* ./
					</textarea>
					<div class="entry-source-title">copy</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						mv xxx.txt xxx2.txt
					</textarea>
					<div class="entry-source-title">move or rename</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						tar -cvzf test.tar.gz test
						tar -cvzf /var/log/test.tar.gz test
					</textarea>
					<div class="entry-source-title">zip</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						tar -xvzf test.tar.gz
						tar -xvzf test.tar.gz -C /home
					</textarea>
					<div class="entry-source-title">unzip</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						alias wasboot '/usr/local/tomcat7/bin/startup.sh'
						alias wasdown '/usr/local/tomcat7/bin/shutdown.sh'
						alias wassrc 'cd /usr/local/tomcat7/webapps'
						alias wastail 'tail -f /usr/local/tomcat7/logs/catalina.out'
					</textarea>
					<div class="entry-source-title">alias</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
