<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">server.xml설정</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						<Connector connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443" URIEncoding="UTF-8"/>
					</textarea>
					<div class="entry-source-title">한글처리</div>
					<div class="entry-demo-source-content">
						<pre class="brush: xml;"></pre>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						<Context reloadable="true" path="/" docBase="C:\project\workspace\bibaboo.github.com"/>
					</textarea>
					<div class="entry-source-title">Context 설정</div>
					<div class="entry-demo-source-content">
						<pre class="brush: xml;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
