<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">server.xml설정</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						<Connector connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443" URIEncoding="UTF-8"/>
					</textarea>
					<div class="entry-source-title">한글처리</div>
					<div class="entry-demo-source-content">
						<pre class="brush: xml;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						<Context reloadable="true" path="/" docBase="C:\project\workspace\bibaboo.github.com"/>
					</textarea>
					<div class="entry-source-title">Context 설정</div>
					<div class="entry-demo-source-content">
						<pre class="brush: xml;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Eclpse 설정</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Serve modules without publishing, Publish module contexts to seperate XML files
					</textarea>
					<div class="entry-source-title">Server Options</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						start 3000, stop 1000
					</textarea>
					<div class="entry-source-title">Parts</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						-Xms256m -Xmx256m -XX:PermSize=64m -XX:MaxPermSize=128m
					</textarea>
					<div class="entry-source-title">VM arguments</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
