<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">선언하기</span>
		</h2>
		<div class="example">
			<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
			<div>
				<div class="entry-demo-content">
					<div id="demo1-id1">demo1_1</div>
					<input type="button" onclick="demo1_1();" value="demo1_1" />
					<script type="text/javascript">
						function demo1_1(){
							var arr1 = new Array();
							var arr2 = new Array("c", "d", "e");
							var arr3 = ["f", "g", "h"];
							
							arr1.push("a");
							arr1.push("b");
							$("#demo1-id1").html(arr1.concat(arr2, arr3).toString());
					  	}
					</script>
				</div>
				<div class="entry-source-title"></div>
				<div class="entry-demo-source-content">
					<pre class="brush: js; html-script: true; highlight: [5, 6, 7]"></pre>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">기본함수</span>
		</h2>
		<div>
			<table class="arguments">
				<tbody>
					<tr>
			  			<td class="func">pop()</td>
			  			<td class="desc">배열의 마지막 요소를 삭제한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo2-id1">demo2_1</div>
						<input type="button" onclick="demo2_1();" value="demo2_1" />
						<script type="text/javascript">
							function demo2_1(){
								var arr = ["a", "b", "c"];
								arr.pop();
								$("#demo2-id1").html(arr.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">push()</td>
			  			<td class="desc">배열의 마지막에 새요소를 추가한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo3-id1">demo3_1</div>
						<input type="button" onclick="demo3_1();" value="demo3_1" />
						<script type="text/javascript">
							function demo3_1(){
								var arr = ["a", "b", "c"];
								arr.push("d");
								$("#demo3-id1").html(arr.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>	
				</div>	
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">shift()</td>
			  			<td class="desc">배열의 첫번째 요소를 삭제한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo4-id1">demo4_1</div>
						<input type="button" onclick="demo4_1();" value="demo4_1" />
						<script type="text/javascript">
							function demo4_1(){
								var arr = ["a", "b", "c"];
								arr.shift();
								$("#demo4-id1").html(arr.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">unshift()</td>
			  			<td class="desc">배열의 첫번에 새요소를 추가한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo5-id1">demo5_1</div>
						<input type="button" onclick="demo5_1();" value="demo5_1" />
						<script type="text/javascript">
							function demo5_1(){
								var arr = ["a", "b", "c"];
								arr.unshift("d");
								$("#demo5-id1").html(arr.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">splice()</td>
			  			<td class="desc">요소를 추가, 삭제한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo6-id1">demo6_1</div>
						<div id="demo6-id2">demo6_2</div>
						<div id="demo6-id3">demo6_3</div>
						<input type="button" onclick="demo6_1();" value="demo6_1" />
						<input type="button" onclick="demo6_2();" value="demo6_2" />
						<input type="button" onclick="demo6_3();" value="demo6_3" />
						<script type="text/javascript">
							function demo6_1(){
								var arr = ["a", "b", "c"];
								arr.splice(1, 0, "d", "e");
								$("#demo6-id1").html(arr.toString());
						  	}
							
							function demo6_2(){
								var arr = ["a", "b", "c"];
								arr.splice(1, 1);
								$("#demo6-id2").html(arr.toString());
						  	}
							
							function demo6_3(){
								var arr = ["a", "b", "c"];
								arr.splice(1, 1, "d");
								$("#demo6-id3").html(arr.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [10, 16, 22]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">sort()</td>
			  			<td class="desc">배열을 정렬한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo7-id1">demo7_1 문자</div>
						<div id="demo7-id2">demo7_2 숫자 asc</div>
						<div id="demo7-id3">demo7_3 숫자 desc</div>
						<div id="demo7-id4">demo7_3 객체 asc</div>
						<div id="demo7-id5">demo7_3 객체 desc</div>
						<input type="button" onclick="demo7_1();" value="demo7_1" />
						<input type="button" onclick="demo7_2();" value="demo7_2" />
						<input type="button" onclick="demo7_3();" value="demo7_3" />
						<input type="button" onclick="demo7_4('name');" value="demo7_4_name" />
						<input type="button" onclick="demo7_5('name');" value="demo7_5_name" />
						<input type="button" onclick="demo7_4('age');" value="demo7_4_age" />
						<input type="button" onclick="demo7_5('age');" value="demo7_5_age" />
						<script type="text/javascript">
							var demo7_arr = ["orange", "kiwi", "apple", "banana"];
							var demo7_arr2 = [1,10,5,4,7,20,31,18,90,100,6];
							var demo7_arr3 = [
								{ name : "자자", age : 7},
								{ name : "나나", age : 10},
								{ name : "하하", age : 21},
								{ name : "다다", age : 25},
								{ name : "가가", age : 13},
								{ name : "아아", age : 44}
							];
						
							function demo7_1(){
								var demo7_1_demo = Array.prototype.slice.call(demo7_arr);
								demo7_1_demo.sort();
								$("#demo7-id1").html(demo7_1_demo.toString());
							}
							  
							function demo7_2(){
								var demo7_2_demo = Array.prototype.slice.call(demo7_arr2);
								demo7_2_demo.sort(function(a, b){
									return a-b;
								});
								$("#demo7-id2").html(demo7_2_demo.toString());
							}
							  
							function demo7_3(){
								var demo7_3_demo = Array.prototype.slice.call(demo7_arr2);
								demo7_3_demo.sort(function(a, b){
									return b-a;
								});
								$("#demo7-id3").html(demo7_3_demo.toString());
							  }
							  
							function demo7_4(key){
								var demo7_4_demo = Array.prototype.slice.call(demo7_arr3);
								demo7_4_demo.sort(function(a, b){
									return a[key] < b[key] ? -1 : a[key] > b[key] ? 1 : 0;
								});
								$("#demo7-id4").html(JSON.stringify(demo7_4_demo));
							}
							  
							function demo7_5(key){
								var demo7_5_demo = Array.prototype.slice.call(demo7_arr3);
								demo7_5_demo.sort(function(a, b){
									return a[key] > b[key] ? -1 : a[key] < b[key] ? 1 : 0;
								});
								$("#demo7-id5").html(JSON.stringify(demo7_5_demo));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [14, 15, 16]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">reverse()</td>
			  			<td class="desc">배열 안 요소들을 반전 시킨다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo8-id1">demo8_1</div>
						<input type="button" onclick="demo8_1();" value="demo8_1" />
						<script type="text/javascript">
							function demo8_1(){
								var arr = ["a", "b", "c", "d"];
								arr.reverse();
								$("#demo8-id1").html(arr.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">concat()</td>
			  			<td class="desc">두 배열을 연관시킴으로 새 배열을 만든다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo9-id1">demo9_1</div>
						<input type="button" onclick="demo9_1();" value="demo9_1" />
						<script type="text/javascript">
							function demo9_1(){
								var arr = ["a", "b"],
									arr2 = ["c", "d"],
									arr3 = arr.concat(arr2);
								$("#demo9-id1").html(arr3.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [7]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">splice()</td>
			  			<td class="desc">배열의 조각을 잘라낸다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo10-id1">demo10_1</div>
						<div id="demo10-id2">demo10_2</div>
						<input type="button" onclick="demo10_1();" value="demo10_1" />
						<script type="text/javascript">
							function demo10_1(){
								var arr = ["a", "b", "c", "d"],
									arr2 = arr.splice(1, 2);
								$("#demo10-id1").html(arr.toString());
								$("#demo10-id2").html(arr2.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [7]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">forEach()</td>
			  			<td class="return">→ undefined</td>
			  			<td class="desc">배열의 요소를 탐색한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo11-id1">demo11_1</div>
						<div id="demo11-id2">demo11_2</div>
						<input type="button" onclick="demo11_1();" value="demo11_1" />
						<script type="text/javascript">
							function demo11_1(){
								var arr = ["a", "b", "c", "d"];
								$("#demo11-id1").html(arr.toString());
								
								arr.forEach(function(value, index, array){
									array[index] = value + "$"; 
								});
								$("#demo11-id2").html(arr.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [9,10,11]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">map()</td>
			  			<td class="return">→ Array</td>
			  			<td class="desc">배열의 요소를 탐색한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo12-id1">demo12_1</div>
						<div id="demo12-id2">demo12_2</div>
						<input type="button" onclick="demo12_1();" value="demo12_1" />
						<script type="text/javascript">
							function demo12_1(){
								var arr = ["a", "b", "c", "d"];
								var arr2 = arr.map(function(value, index, array){
									return value + "$"; 
								});
								
								$("#demo12-id1").html(arr.toString());
								$("#demo12-id2").html(arr2.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6,7,8]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">some()</td>
			  			<td class="return">→ Boolean</td>
			  			<td class="desc">배열의 요소중 하나라도 특정조건을 만족 여부를 검사한다</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo13-id1">demo13_1</div>
						<input type="button" onclick="demo13_1();" value="demo13_1" />
						<script type="text/javascript">
							function demo13_1(){
								var arr = ["aaa", "bbb", "ccc", "ddd"];
								var b = arr.some(function(value, index, array){
									$("#demo13-id1").append($.tmpl(COMMON_TMPL.plainDiv, {text:index + " : " + value}));
									return !!~value.search("ccc"); 
								});
								
								$.alert(b)
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6,7,8]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">every()</td>
			  			<td class="return">→ Boolean</td>
			  			<td class="desc">배열의 요소중 모두가 특정조건을 만족 여부를 검사한다</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo14-id1">demo14_1</div>
						<input type="button" onclick="demo14_1();" value="demo14_1" />
						<script type="text/javascript">
							function demo14_1(){
								var arr = ["aaa", "bbb", "ccc", "ddd"];
								var b = arr.every(function(value, index, array){
									$("#demo14-id1").append($.tmpl(COMMON_TMPL.plainDiv, {text:index + " : " + value}));
									return !!~value.search("aaa"); 
								});
								
								$.alert(b);
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6,7,8]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">filter()</td>
			  			<td class="return">→ String</td>
			  			<td class="desc">배열의 요소를 필터링한다</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo15-id1">demo15_1</div>
						<div id="demo15-id2">demo15_2</div>
						<input type="button" onclick="demo15_1();" value="demo15_1" />
						<script type="text/javascript">
							function demo15_1(){
								var arr = ["aaa", "bbb", "ccc", "ddd"];
								var arr2 = arr.filter(function(value, index, array){
									return !!~value.search(/[ab]+/); 
								});
								
								$("#demo15-id1").html(arr.toString());
								$("#demo15-id2").html(arr2.toString());
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [7,8]"></pre>
					</div>
				</div>
			</div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">reduce()</td>
			  			<td class="return">→ Array</td>
			  			<td class="desc">배열의 요소를 하나씩 돌려 이전 콜백값을 받아 처리</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo16-id1">demo16_1</div>
						<div id="demo16-id2">demo16_2</div>
						<input type="button" onclick="demo16_1();" value="demo16_1" />
						<script type="text/javascript">
							function demo16_1(){
								var arr = [1,2,3,4,5,6,7,8,9,10];
								var result = arr.reduce(function(previousValue, currentValue, index, array){
									return previousValue + currentValue; 
								}, 0);
								
								$("#demo16-id1").html(arr.toString());
								$("#demo16-id2").html(result);
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [7,8,9]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">확장기능</span>
		</h2>
		<div>
			<table class="arguments btd">
				<tbody>
					<tr>
			  			<td class="func">delete</td>
			  			<td class="desc">해당 프로퍼티를 삭제한다.</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo101-id1">demo101_1</div>
						<input type="button" onclick="demo101_1();" value="demo101_1" />
						<script type="text/javascript">
							function demo101_1(){
								var json = {a:"A", b:"B", c:"C"};
								delete json.b;
								$("#demo101-id1").html(JSON.stringify(json));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
