<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">pattern1</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<input type="button" onclick="demo1_1();" value="demo1_1" />
						<input type="button" onclick="demo1_2();" value="demo1_2" />
						<script type="text/javascript">
						var Patten1 = new(function() {
						    var value; 
						})();
		
						Patten1.set = function(value){
						     this.value = value;
						};
		
						Patten1.get = function(){
						     return this.value;
						};
		
						Patten1.exec = {
						    key : "exec",
						    check : function(){
						        $.alert("check");
						    },
						    run : function(){
						        $.alert("run");
						    }
						};
						
						function demo1_1(){
							Patten1.set("test");
							$.alert(Patten1.get());
						}
						
						function demo1_2(){
							$.alert(Patten1.exec.key);
							Patten1.exec.run();
						}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">pattern2</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<input type="button" onclick="demo2_1();" value="demo2_1" />
						<input type="button" onclick="demo2_2();" value="demo2_2" />
						<script type="text/javascript">
						var Patten2 = new(function() {
						    var value;
						    
						    function get(){
						    	return value;
						    }
						    
						    function get2(){
						    	return value;
						    }
						    
						    function set(v){
						    	return value = v;
						    }
						    
						    return {
						    	set:set,
						    	get:get
						    };
						})();
		
						function demo2_1(){
							Patten1.set("test2_1");
							$.alert(Patten1.get());
						}
						
						function demo2_2(){
							try{
								Patten1.set("test2_2");
								$.alert(Patten1.get2());	
							}catch(e){
								$.alert(e.message);
							}
							
						}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
