<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">switch</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						var ref = 1;
						switch (ref) {
						  case 1:
						    break;
						  case 2:
						    break
						  default:
						    console.log('Error');
						}
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
        <h2>
            <span class="title">for</span>
        </h2>
        <div>
            <div class="example">
                <div>
                    <textarea class="entry-demo-textarea-content none">
                        var arr = ["1", "2", "3", "4", "5"];
						for (var i in arr ){
						   console.log(arr[i]);
						};
                    </textarea>
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: js;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
