<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">basic</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						var ref = 1;
						switch (ref) {
						  case 1:
						    break;
						  case 2:
						    break
						  default:
						    console.log('Error');
						}
					</textarea>
					<div class="entry-source-title">switch</div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
                <div>
                    <textarea class="entry-demo-textarea-content none">
                        var arr = ["1", "2", "3", "4", "5"];
						for (var i in arr ){
						   console.log(arr[i]);
						};
                    </textarea>
                    <div class="entry-source-title">for</div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: js;"></pre>
                    </div>
                </div>
            </div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">simple</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						var protocol = window.location.protocol,
							host = window.location.host;

						if(host.indexOf("www.")!=-1){ //www 있을 경우
							window.location.replace("https://" + (host.replace("www.", '')) + "/Agent/Download");
						}else if(protocol=="http:" && host.indexOf("localhost")==-1){ //http
							window.location.replace("https://" + host + "/xxxx/xxxx");
						}else{
						}
					</textarea>
					<div class="entry-source-title">www, http 체크</div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
