<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">Math.abs(value)</span>
    		<span class="return">절대값</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo1-id1">demo1_1</div>
						<input type="button" onclick="demo1_1();" value="demo1_1" />
						<script type="text/javascript">
							function demo1_1(){
								var a = -12358;
								$("#demo1-id1").html(Math.abs(a));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Math.max(value1, value2)</span>
    		<span class="return">value1과 value2 중 큰 값</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo2-id1">demo2_1</div>
						<input type="button" onclick="demo2_1();" value="demo2_1" />
						<script type="text/javascript">
							function demo2_1(){
								var a = 123,
									b = 124;
								$("#demo2-id1").html(Math.max(a, b));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [7]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Math.min(value1, value2)</span>
    		<span class="return">value1과 value2 중 작은 값</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo3-id1">demo3_1</div>
						<input type="button" onclick="demo3_1();" value="demo3_1" />
						<script type="text/javascript">
							function demo3_1(){
								var a = 123,
									b = 124;
								$("#demo3-id1").html(Math.min(a, b));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [7]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Math.random()</span>
    		<span class="return">0~1미만의 난수</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo4-id1">demo4_1</div>
						<div id="demo4-id2">demo4_2</div>
						<input type="button" onclick="demo4_1();" value="demo4_1" />
						<input type="button" onclick="demo4_2();" value="demo4_2" />
						<script type="text/javascript">
							function demo4_1(){
								$("#demo4-id1").html(Math.random());
						  	}
							
							function demo4_2(){
								$("#demo4-id2").html(Math.floor(Math.random()*10));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [7, 11]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Math.ceil(value)</span>
    		<span class="return">소숫점 이하 올림</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo5-id1">demo5_1</div>
						<input type="button" onclick="demo5_1();" value="demo5_1" />
						<script type="text/javascript">
							function demo5_1(){
								var a = 12.123;
								$("#demo5-id1").html(Math.ceil(a));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Math.floor(value)</span>
    		<span class="return">소숫점 이하 버림</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo6-id1">demo6_1</div>
						<input type="button" onclick="demo6_1();" value="demo6_1" />
						<script type="text/javascript">
							function demo6_1(){
								var a = 12.123;
								$("#demo6-id1").html(Math.floor(a));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Math.round(value)</span>
    		<span class="return">소숫점 반올림</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-source-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo7-id1">demo7_1</div>
						<div id="demo7-id2">demo7_2</div>
						<input type="button" onclick="demo7_1();" value="demo7_1" />
						<input type="button" onclick="demo7_2();" value="demo7_2" />
						<script type="text/javascript">
							function demo7_1(){
								var a = 12.153;
								$("#demo7-id1").html(Math.round(a));
						  	}
							
							function demo7_2(){
								var a = 12.155;
								$("#demo7-id2").html(Math.round(a*100)/100);
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
