<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>wjquery-mpicker</title>
<link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/wjquery-mpicker.css" />
<script type="text/javascript" src="/js/lib/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/js/lib/moment-with-locales.2.11.1.min.js"></script>
<script type="text/javascript" src="js/wjquery-mpicker.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
    	$("#demo1").mDatePicker();
	});
</script>
</head>
<body>
<input type="text" id="demo1" readonly="readonly" />
</body>
</html>
