<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, address=no, email=no" />
<title>tmpl</title>
<link rel="stylesheet" type="text/css" media="screen" href="./css/base.css" />
<script type="text/javascript" src="/js/lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./js/ui.js"></script>    
</head>
<body class="main-body">
    <header id="main-header"></header>
    <section id="main-section">
        <div class="top-bg"></div>
        <div class="tap-menu"></div>
        <article class="sub-contents"></article>
    </section >
    <footer id="main-footer"></footer>    
</body>
</html>
