@charset "utf-8";

/* editor */
.wcNone {display:none;}
#editerDiv {width:99.9%;position:relative;border:1px solid buttonshadow;}
#editerDiv #toolBarBgDiv {display:none;background-color:#ffffff;z-index:2000;position:absolute;top:0;left;0;width:100%;height:26px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60); opacity: 0.6;}
#editerDiv #toolBarDiv {background-color:#f0f0f0;width:100%;height:26px;border-bottom:buttonshadow solid 1px;border-top:#f0f0f0 solid 2px;}
#editerDiv #toolBarDiv ul{width:100%;list-style:none;padding:0px;margin:0px;}
#editerDiv #toolBarDiv ul li{float:left;height:22px;width:23px;border:#f0f0f0 solid 1px;background-position:center;background-repeat:no-repeat;cursor:pointer;font:12px 돋움,Dotum,sans-serif; color:#333;}
#editerDiv #toolBarDiv ul li.down{border-bottom:buttonhighlight solid 1px;border-left:buttonshadow solid 1px;border-right:buttonhighlight solid 1px;border-top:buttonshadow solid 1px;background-color:#dddddd;};
#editerDiv #toolBarDiv ul li.out{border-color:#f0f0f0;}
#editerDiv #toolBarDiv ul li.up{border-color:#f0f0f0, background-color:#f0f0f0}
#editerDiv #toolBarDiv ul li.over{border-bottom:buttonshadow solid 1px;border-left:buttonhighlight solid 1px;border-right:buttonshadow solid 1px;border-top:buttonhighlight solid 1px;}
#editerDiv #toolBarDiv ul a{text-decoration:none;color:#333;font-weight:bold;padding-top:5px;}
#editerDiv #toolBarDiv ul li.starter {border-left: buttonhighlight solid 1px; border-right: buttonshadow solid 1px;width: 2px;}
#editerDiv #toolBarDiv ul li.separator {border-left: buttonshadow solid 1px; border-right: buttonhighlight solid 1px; width: 1px;}
#editerDiv #toolBarDiv #fontnameLi{width:85px;background-image:url('../img/up.gif');background-position:76px 50%;background-repeat:no-repeat;}
#editerDiv #toolBarDiv #fontnameLi a{display:block;width:85px;}
#editerDiv #toolBarDiv #fontnameLi a span{display:block;width:75px;height:14px;text-align:center;overflow:hidden;cursor:pointer;}
#editerDiv #toolBarDiv #fontsizeLi{width:42px;background-image:url('../img/up.gif');background-position:33px 50%;background-repeat:no-repeat;}
#editerDiv #toolBarDiv #fontsizeLi #fontsizeA{display:block;width:40px;padding-left:2px;}
#editerDiv #toolBarDiv #forecolorLi{background-color:#000000;}
#editerDiv #toolBarDiv #backcolorLi{background-color:#ffffff;}
#editerDiv #editDiv {height:350px;}
#editerDiv #editDiv #resizeDiv{width:100%;height:100%;display:none;background-color:#f9f9f9;}
#editerDiv #editTextarea {width:100%;height:100%;display:none;overflow:auto;margin:0;padding:0;border:none !important;}
#editerDiv #editDiv #editIframe {overflow-x: auto; overflow-y: scroll;}
#editerDiv #modeDiv {position:relative;}
#editerDiv #modeDiv div{background-color:#f0f0f0;height:17px;border-top:buttonshadow solid 1px;}
#editerDiv #modeDiv div.resize{cursor:n-resize;background-image:url('../img/sizemore.gif');background-position: center;background-repeat:no-repeat;}
#editerDiv #modeDiv ul {list-style:none;padding:0px;margin:0px;position:absolute;top:0;right:2px;}
#editerDiv #modeDiv ul li {float:right;height:15px;cursor:pointer;width:59px;background:url('../img/button.png') no-repeat;vertical-align:top;}
#editerDiv #modeDiv ul #editorModeLi.on {background-position: 0 -25px;}
#editerDiv #modeDiv ul #editorModeLi.off {background-position: 0 0;}
#editerDiv #modeDiv ul #htmlModeLi.on {background-position: -59px -25px;}
#editerDiv #modeDiv ul #htmlModeLi.off {background-position: -59px 0;}
#editerDiv #modeDiv ul #textModeLi.on {background-position: -118px -25px;}
#editerDiv #modeDiv ul #textModeLi.off {background-position: -118px 0;}

#editerDiv iframe.buttonIframe{position:absolute;top:28px;left:0px;display:none;}
#editerDiv #fontnameFrame {width:160px;height:255px;z-index:1001;}
#editerDiv #fontsizeFrame {width:300px;height:283px;z-index:1002;}
#editerDiv #forecolorFrame {width:230px;height:300px;z-index:1003;}
#editerDiv #backcolorFrame {width:230px;height:300px;z-index:1004;}
#editerDiv #tableFrame {width:200px;height:185px;z-index:1005;}
#editerDiv #tableConfigFrame {width:130px;height:190px;z-index:1012;}
#editerDiv #fieldsetFrame {width:485px;height:55px;z-index:1006;}
#editerDiv #hrFrame {width:230px;height:313px;z-index:1007;}
#editerDiv #linkFrame {width:300px;height:35px;z-index:1009;}
#editerDiv #urlimageFrame {width:290px;height:45px;z-index:1009;}
#editerDiv #imageFrame {width:300px;height:75px;z-index:1010;}
#editerDiv #characterFrame {width:490px;height:300px;z-index:1011;}
#editerDiv #emoticonFrame {width:210px;height:185px;z-index:1012;}