<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">json get전송</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						var fileInfo = {
							fileName : "가나다_abc.doc";
							fileSize : 123545
						}
						
						location.href = "서버주소?info=" + escape(encodeURIComponent(JSON.stringify(fileInfo)));
					</textarea>
					<div class="entry-source-title">js <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						import java.net.URLDecoder;
						import org.codehaus.jackson.map.ObjectMapper;

						public void 메소드(HttpServletResponse response, String info) {
							..
							FilInfo fileInfo = mapper.readValue(URLDecoder.decode(info, "utf-8"), FilInfo.class);
							..
						}
					</textarea>
					<div class="entry-source-title">java<a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
					<div class="entry-demo-source-content">
						<pre class="brush: java;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
