<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">추천</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						-Xms1024m -Xmx2048m
					</textarea>
					<div class="entry-source-title">eclipse.ini 메모리 설정 추가</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > Java > Editor > Folding 에서 Enable folding 해제
					</textarea>
					<div class="entry-source-title">소스 자동 폴딩 해제</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > General > Workspace 에서 Text file encoding 는 UTF-8
					</textarea>
					<div class="entry-source-title">인코딩 변경</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > General > Appearance
					</textarea>
					<div class="entry-source-title">font, theme 변경</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > General > Editors > Text Editors > Spelling 에서 Enable spell checking 해제
					</textarea>
					<div class="entry-source-title">Spell checking 해제</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > Validation 자신이 사용할 부분만 켜서 사용한다.
					</textarea>
					<div class="entry-source-title">Validation 유효성체크 해제</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">옵션</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > General 에서 Show heap status 체크
					</textarea>
					<div class="entry-source-title">오른쪽 하단에 메모리 사용상태 표시</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > General > Startup and Shutdown 에서 필요없는 것 제외
					</textarea>
					<div class="entry-source-title">이클립스 실행속도 개선</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > Install/Update 에서 Uninstall or update 선택
					</textarea>
					<div class="entry-source-title">불필요한 플러그인 삭제</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">플러그인</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						alt + home 추가, 삭제
						alt + Page Up, alt + Page Down 이동
					</textarea>
					<div class="entry-source-title">Quick Bookmarks - 북마크</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > General > Startup and Shutdown 에서 필요없는 것 제외
					</textarea>
					<div class="entry-source-title">이클립스 실행속도 개선</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Preferences > Install/Update 에서 Uninstall or update 선택
					</textarea>
					<div class="entry-source-title">불필요한 플러그인 삭제</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
