<div class="entry-summary">
	<div><b>참조 사이트 :</b> <a href="https://code.visualstudio.com/" target="_blank">visual Studio Code</a></div>
</div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
			<span class="title">단축키</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					1. ctrl + shift + u, ctrl + shift + l 대소문자 변환 (바로가기 키에서 정의)
					2. ctrl + x 행삭제
					3. ctrl + enter, ctrl + shift + enter 행 삽입
					4. alt + down, alt + up 위,아래로 행 이동
					5. ctrl + d 다음 찾기
					6. ctrl + shift + alt + 방향키, alt + shift drag 열모드
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">기본키 바인딩</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					// 키 바인딩을 이 파일에 넣어서 기본값을 덮어씁니다.
					[
						{
							"key": "ctrl+numpad1",
							"command": "projectManager.listProjects"
						},
						{
							"key": "shift+alt+p",
							"command": "-projectManager.listProjects"
						},
						{
							"key": "ctrl+numpad2",
							"command": "projectManager.listProjectsNewWindow"
						},
						{
							"key": "ctrl+numpad3",
							"command": "projectManager.saveProject"
						},
						{
							"key": "ctrl+numpad4",
							"command": "HookyQR.beautifyFile"
						},
						{
							"key": "ctrl+numpad6",
							"command": "editor.unfoldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+k ctrl+j",
							"command": "-editor.unfoldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+numpad5",
							"command": "editor.foldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+k ctrl+0",
							"command": "-editor.foldAll",
							"when": "editorTextFocus"
						}
					]
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">Extensons</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						1. ESLint
						2. Beautify
						3. Bookmarks
						4. Java Server Pages (JSP)
						5. Live Server
						6. Project Manager
						7. vscode-icons
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">Snippet</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						{
							// Place your snippets for jsp here. Each snippet is defined under a snippet name and has a prefix, body and 
							// description. The prefix is what is used to trigger the snippet and the body will be expanded and inserted. Possible variables are:
							// $1, $2 for tab stops, $0 for the final cursor position, and ${1:label}, ${2:another} for placeholders. Placeholders with the 
							// same ids are connected.
							// Example:
							// "Print to console": {
							// 	"prefix": "log",
							// 	"body": [
							// 		"console.log('$1');",
							// 		"$2"
							// 	],
							// 	"description": "Log output to console"
							// }
						
							//jstl
							"jstl.url": {
								"prefix": "jstl.url",
								"body": [
									"&lt;c:url value=\"$url\"/&gt;"
								],
								"description": "jstl.url"
							},
							"jstl.cout": {
								"prefix": "jstl.cout",
								"body": [
									"&lt;c:out value=\"${$key}\"/&gt;"
								],
								"description": "jstl.cout"
							},
							"jstl.if": {
								"prefix": "jstl.if",
								"body": [
									"&lt;c:if test=\"${$key == '$val'}\"&gt;",
									"&lt;/c:if&gt;"
								],
								"description": "jstl.cout"
							},
							"jstl.set": {
								"prefix": "jstl.set",
								"body": [
									"&lt;c:set var=\"$key\" value=\"${$val}\"/&gt;",
								],
								"description": "jstl.set"
							},
							"jstl.choose": {
								"prefix": "jstl.choose",
								"body": [
									"&lt;c:choose&gt;",
									"\t&lt;c:when test=\"${empty $list}\"&gt;",
									"\t\t",
									"\t&lt;/c:when&gt;",
									"\t&lt;c:otherwise&gt;",
									"\t\t&lt;c:forEach var=\"item\" items=\"${$list}\" varStatus=\"status\"&gt;",
									"\t\t\t&lt;div&gt;&lt;c:out value='${item.key}'&gt;&lt;/c:out&gt;",
									"\t\t&lt;/c:forEach&gt;",
									"\t&lt;/c:otherwise&gt;",
									"&lt;/c:choose&gt;"
								],
								"description": "jstl.choose"
							},
							"jstl.foreach": {
								"prefix": "jstl.foreach",
								"body": [
									"&lt;c:forEach var=\"item\" items=\"${$list}\" varStatus=\"status\"&gt;",
									"\t&lt;div&gt;&lt;c:out value=\"${item.key}\"/&gt;",
									"&lt;/c:forEach&gt;",
								],
								"description": "jstl.foreach"
							},
							"jstl.fn.substring": {
								"prefix": "jstl.fn.substring",
								"body": [
									"&lt;c:out value='\\${fn:substring($key, 0, 1)}'/&gt;"
								],
								"description": "jstl.fn.substring"
							},
							"jstl.fn.split": {
								"prefix": "jstl.fn.split",
								"body": [
									"&lt;c:set var=\"$var\" value=\"\\${fn:split($key, ',')}\"/&gt;",
									"&lt;c:if test=\"${$var[0] eq 1}\"&gt;",
									"&lt;/c:if&gt;"
								],
								"description": "jstl.fn.split"
							},
							"jstl.fn.replace": {
								"prefix": "jstl.fn.replace",
								"body": [
									"&lt;% pageContext.setAttribute(\"newLineChar\", \"\\n\"); %&gt;",
									"&lt;c:out value=\"\\${fn:replace(fn:escapeXml(apprLinereply.contents), newLineChar, '&lt;br/&gt;')}\"  escapeXml='false'/&gt;"
								],
								"description": "jstl.fn.replace"
							},
						
							//spring
							"spring.bind": {
								"prefix": "spring.bind",
								"body": [
									"&lt;spring:bind path=\"$key\"&gt;",
									"\t&lt;input name=\"&lt;c:out value='${status.expression}'/&gt;\" type=\"text\" value=\"&lt;c:out value='${status.value}'/&gt;\" /&gt;",
									"&lt;/spring:bind&gt;"
								],
								"description": "spring.bind"
							},
						
							"spring.message": {
								"prefix": "spring.message",
								"body": [
									"&lt;spring:message code=\"$key\"/&gt;"
								],
								"description": "spring.message"
							},
						
							"spring.eval": {
								"prefix": "spring.eval",
								"body": [
									"&lt;spring:eval expression=\"@propCommon['$key']\" var=\"$val\"/&gt;"
								],
								"description": "spring.eval"
							},
						
							//wf.tld
							"wf.tld.paging": {
								"prefix": "wf.tld.paging",
								"body": [
									"&lt;wf:paging currentPage=\"${searchCondition.pageIndex}\" totalCount=\"${searchCondition.recordCount}\" listSize=\"${searchCondition.pagePerRecord}\" pageCount=\"${searchCondition.paginationBlock}\"/&gt;",
								],
								"description": "wf.tld.paging"
							},
							"wf.tld.pagePerRecord": {
								"prefix": "wf.tld.pagePerRecord",
								"body": [
									"&lt;wf:pagePerRecord current=\"${searchCondition.pagePerRecord}\" callback=\"doSearch\"/&gt;"
								],
								"description": "wf.tld.pagePerRecord"
							},
							"wf.tld.selectBox": {
								"prefix": "wf.tld.selectBox",
								"body": [
									"&lt;wf:selectBox id=\"$id\" name=\"$name\" value=\"$value\" title=\"$title\"  msgTitle=\"$msgTitle\"  current=\"$current\"  className=\"$className\"  callback=\"$callback\"/&gt;"
								],
								"description": "wf.tld.selectBox"
							},
							"wf.tld.classVal": {
								"prefix": "wf.tld.classVal",
								"body": [
									"&lt;wf:classVal className=\"$className\" fieldName=\"$fieldName\"/&gt;"
								],
								"description": "wf.tld.classVal"
							},
							"wf.tld.snippet.loading": {
								"prefix": "wf.tld.snippet.loading",
								"body": [
									"&lt;wf:snippet name=\"loading\"/&gt;"
								],
								"description": "wf.tld.snippet.loading"
							},
						
							//wf.snippet
							"wf.snippet.colorPoint": {
								"prefix": "wf.snippet.colorPoint",
								"body": [
									"&lt;span class=\"colorPoint\"&gt;*&lt;/span&gt;"
								],
								"description": "wf.snippet.colorPoint"
							},
							"wf.snippet.dot": {
								"prefix": "wf.snippet.dot",
								"body": [
									"&lt;img src=\"&lt;c:url value='${\"/base/images/icon/ico-blank.gif\"}'/&gt;\" width=\"3\" height=\"3\" class=\"bg333333\"&gt;"
								],
								"description": "wf.snippet.dot"
							}
						
							
						}
					</textarea>
					<div class="entry-source-title">jsp</div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					{
						"MXPApi.net.connect": {
							"prefix": "MXPApi.net.connect",
							"body": [
								"MXPApi.net.connect({",
								"\trequestCd : ${cd},",
								"\tisNotReturnSuccess : true,",
								"\tfullLoading : true,",
								"\tcallback : function(result) {",
								"\t\tvar ${sampleList} = result.response.body.${SampleList}||[];",
								"\t\t$.each(${sampleList}, function(){",
								"\t\t\t",
								"\t\t});",
								"\t}",
								"});"
							],
							"description": "MXPApi.net.connect"
						}
					}
					</textarea>
					<div class="entry-source-title">js - mxp</div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">Emmet</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					1. Child(자녀): >
					- div>ul>li
					<div>
						<ul>
							<li></li>
						</ul>
					</div>
	
					2. Sibling(형제): +
					- div+p+bq
					<div></div>
					<p></p>
					<blockquote></blockquote>					

					3. Climb-up(상승): ^
					- div+div>p>span+bq
					<div></div>
					<div>
						<p><span></span></p>
						<blockquote></blockquote>
					</div>

					4. Multiplication(곱): *
					- ul>li*5
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					5. Grouping(그룹): ( )
					- div(header>ul>li>a)+footer>p
					<div>
						<header>
							<ul>
								<li><a href=""></a></li>
								<li><a href=""></a></li>
							</ul>
						</header>
						<footer>
							<p></p>
						</footer>
					</div>

					6. ID and CLASS: . #
					- div#header+div.page+div#footer.class1.class2.class3
					<div id="header"></div>
					<div class="page"></div>
					<div id="footer" class="class1 class2 class3"></div>

					7. Custom attributes: [ ]
					- td[title="hello world" colspan="3"]
					<td title="hellow word" colspan="3"></td>

					8. Item numbering(숫자): $
					- ul>li.item$*5
					<ul>
						<li class="item1"></li>
						<li class="item2"></li>
						<li class="item3"></li>
						<li class="item4"></li>
						<li class="item5"></li>
					</ul>

					- ul>li.item$$$*12
					<ul>
						<li class="item001"></li>
						<li class="item002"></li>
						<li class="item003"></li>
						<li class="item004"></li>
						<li class="item005"></li>
						<li class="item006"></li>
						<li class="item007"></li>
						<li class="item008"></li>
						<li class="item009"></li>
						<li class="item010"></li>
						<li class="item011"></li>
						<li class="item012"></li>
					</ul>

					9. Changing numbering: $[ @N | @- ]
					- ul>li.item$@3*5 
					<ul>
						<li class="item3"></li>
						<li class="item4"></li>
						<li class="item5"></li>
						<li class="item6"></li>
						<li class="item7"></li>
					</ul>
					
					- ul>li.item$@-*5 
					<ul>
						<li class="item1@-"></li>
						<li class="item2@-"></li>
						<li class="item3@-"></li>
						<li class="item4@-"></li>
						<li class="item5@-"></li>
					</ul>

					10. Text : {}
					- button{go}
					<button>go</button>

					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: html"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
