<div class="entry-summary">
	<div><b>참조 사이트 :</b> <a href="https://code.visualstudio.com/" target="_blank">visual Studio Code</a></div>
</div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
			<span class="title">단축키</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					1. ctrl + shift + u, ctrl + shift + l 대소문자 변환 (바로가기 키에서 정의)
					2. ctrl + x 행삭제
					3. ctrl + enter, ctrl + shift + enter 행 삽입
					4. alt + down, alt + up 위,아래로 행 이동
					5. ctrl + d 다음 찾기
					6. ctrl + shift + alt + 방향키, alt + shift drag 열모드
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">기본키 바인딩</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					// 키 바인딩을 이 파일에 넣어서 기본값을 덮어씁니다.
					[
						{
							"key": "ctrl+numpad1",
							"command": "projectManager.listProjects"
						},
						{
							"key": "shift+alt+p",
							"command": "-projectManager.listProjects"
						},
						{
							"key": "ctrl+numpad2",
							"command": "projectManager.listProjectsNewWindow"
						},
						{
							"key": "ctrl+numpad3",
							"command": "projectManager.saveProject"
						},
						{
							"key": "ctrl+numpad4",
							"command": "HookyQR.beautifyFile"
						},
						{
							"key": "ctrl+numpad6",
							"command": "editor.unfoldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+k ctrl+j",
							"command": "-editor.unfoldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+numpad5",
							"command": "editor.foldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+k ctrl+0",
							"command": "-editor.foldAll",
							"when": "editorTextFocus"
						}
					]
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">Extensons</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						1. ESLint
						2. Beautify
						3. Bookmarks
						4. Java Server Pages (JSP)
						5. Live Server
						6. Project Manager
						7. vscode-icons
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">Snippet</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					"MXPApi.net.connect": {
						"prefix": "MXPApi.net.connect",
						"body": [
							"MXPApi.net.connect({",
							"\trequestCd : ${cd},",
							"\tisNotReturnSuccess : true,",
							"\tfullLoading : true,",
							"\tcallback : function(result) {",
							"\t\tvar ${sampleList} = result.response.body.${SampleList}||[];",
							"\t\t$.each(${sampleList}, function(){",
							"\t\t\t",
							"\t\t});",
							"\t}",
							"});"
						],
						"description": "MXPApi.net.connect"
					}
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">Emmet</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					1. Child(자녀): >
					- di>ul>li
					<div>
						<ul>
							<li></li>
						</ul>
					</div>
	
					2. Sibling(형제): +
					- div+p+bq
					<div></div>
					<p></p>
					<blockquote></blockquote>					

					3. Climb-up(상승): ^
					- div+div>p>span+bq
					<div></div>
					<div>
						<p><span></span></p>
						<blockquote></blockquote>
					</div>

					4. Multiplication(곱): *
					- ul>li*5
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					5. Grouping(그룹): ( )
					- div(header>ul>li>a)+footer>p
					<div>
						<header>
							<ul>
								<li><a href=""></a></li>
								<li><a href=""></a></li>
							</ul>
						</header>
						<footer>
							<p></p>
						</footer>
					</div>

					6. ID and CLASS: . #
					- div#header+div.page+div#footer.class1.class2.class3
					<div id="header"></div>
					<div class="page"></div>
					<div id="footer" class="class1 class2 class3"></div>

					7. Custom attributes: [ ]
					- td[title="hello world" colspan="3"]
					<td title="hellow word" colspan="3"></td>

					8. Item numbering(숫자): $
					- ul>li.item$*5
					<ul>
						<li class="item1"></li>
						<li class="item2"></li>
						<li class="item3"></li>
						<li class="item4"></li>
						<li class="item5"></li>
					</ul>

					- ul>li.item$$$*12
					<ul>
						<li class="item001"></li>
						<li class="item002"></li>
						<li class="item003"></li>
						<li class="item004"></li>
						<li class="item005"></li>
						<li class="item006"></li>
						<li class="item007"></li>
						<li class="item008"></li>
						<li class="item009"></li>
						<li class="item010"></li>
						<li class="item011"></li>
						<li class="item012"></li>
					</ul>

					9. Changing numbering: $[ @N | @- ]
					- ul>li.item$@3*5 
					<ul>
						<li class="item3"></li>
						<li class="item4"></li>
						<li class="item5"></li>
						<li class="item6"></li>
						<li class="item7"></li>
					</ul>
					
					- ul>li.item$@-*5 
					<ul>
						<li class="item1@-"></li>
						<li class="item2@-"></li>
						<li class="item3@-"></li>
						<li class="item4@-"></li>
						<li class="item5@-"></li>
					</ul>

					10. Text : {}
					- button{go}
					<button>go</button>

					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: html"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
