<div class="entry-summary">
	<div><b>참조 사이트 :</b> <a href="https://code.visualstudio.com/" target="_blank">visual Studio Code</a></div>
</div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">셋팅</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					{
						"editor.fontFamily": "D2Coding, Consolas, 'Courier New', monospace",
						"editor.fontSize": 16,
						"window.menuBarVisibility": "default",
						"workbench.statusBar.visible": false,
						"workbench.activityBar.visible": false,
						"workbench.sideBar.location": "right",
						"editor.minimap.enabled": false,
						"window.zoomLevel": 0
					}
					</textarea>
					<div class="entry-source-title">사용자 설정</div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
					// 키 바인딩을 이 파일에 넣어서 기본값을 덮어씁니다.
					[
						{
							"key": "ctrl+numpad1",
							"command": "projectManager.listProjects"
						},
						{
							"key": "shift+alt+p",
							"command": "-projectManager.listProjects"
						},
						{
							"key": "ctrl+numpad2",
							"command": "projectManager.listProjectsNewWindow"
						},
						{
							"key": "ctrl+numpad3",
							"command": "projectManager.saveProject"
						},
						{
							"key": "ctrl+numpad4",
							"command": "HookyQR.beautifyFile"
						},
						{
							"key": "ctrl+numpad6",
							"command": "editor.unfoldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+k ctrl+j",
							"command": "-editor.unfoldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+numpad5",
							"command": "editor.foldAll",
							"when": "editorTextFocus"
						},
						{
							"key": "ctrl+k ctrl+0",
							"command": "-editor.foldAll",
							"when": "editorTextFocus"
						}
					]
					</textarea>
					<div class="entry-source-title">기본키 바인딩</div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						ctrl + shift + u/l 대소문자 변환 
						
						ctrl+X	행 삭제 (빈 선택)
						
						ctrl+Enter	아래에 행 삽입
						
						ctrl+shift+Enter	위에 행 삽입
						
						alt+Down	행을 아래로 이동
						
						shift+alt+Down	위에 행 복사 추가
						
						ctrl+d	다음 선택 찾기
						
						ctrl+u	마지막 커서 작업 실행 취소
						
						ctrl+i	현재 행 선택
						
						ctrl+\	화면분활
					</textarea>
					<div class="entry-source-title">단축키</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						1. ESLint
						
						2. Beautify
						
						3. Bookmarks
						
						4. Java Server Pages (JSP)
						
						5. Live Server
						
						6. Project Manager
						
						7. vscode-icons
					</textarea>
					<div class="entry-source-title">Extensons</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						"MXPApi.net.connect": {
							"prefix": "MXPApi.net.connect",
							"body": [
								"MXPApi.net.connect({",
								"\trequestCd : ${cd},",
								"\tisNotReturnSuccess : true,",
								"\tfullLoading : true,",
								"\tcallback : function(result) {",
								"\t\tvar ${sampleList} = result.response.body.${SampleList}||[];",
								"\t\t$.each(${sampleList}, function(){",
								"\t\t\t",
								"\t\t});",
								"\t}",
								"});"
							],
							"description": "MXPApi.net.connect"
						}
					</textarea>
					<div class="entry-source-title">Snippet</div>
					<div class="entry-demo-source-content">
						<pre class="brush: js;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
