<div class="entry-summary"></div>
<ul class="entry-api">
    <li class="entry-api-item">
        <h2>
            <span class="title">sample</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                            a.sample {color:red;}
                        </style>
                        <div id="demo1-id1">
                            
                        </div>
                        <input type="button" onclick="demo1_1();" value="demo1_1" />
                        <script type="text/javascript"> 
                            function demo1_1(){
                                $("#demo1-id1").html("<a href='#' class='sample'>sample</a>");
                            }
                        </script>
                    </div>
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
