<div class="entry-summary"><br/><br/><b>참조 사이트 :</b> <a href="https://www.w3schools.com/css/css3_animations.asp" target="_blank">CSS3 Animations</a>, <a href="https://github.com/Keyframes/jQuery.Keyframes" target="_blank">jQuery.Keyframes</a></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">rotate</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							div.sync-wap {padding:10px;background-color:#aaa;width:30px;}
							i.sync { display: inline-block; vertical-align: middle; background:url(/images/ic_sync.png) no-repeat; width: 30px; height: 30px; background-position: 0px 0px; background-size: 30px auto;}
							i.rotate {
								-webkit-animation-name: spin;
								-webkit-animation-duration: 2000ms;
								-webkit-animation-iteration-count: infinite;
								-webkit-animation-timing-function: linear;
								
								-moz-animation-name: spin;
								-moz-animation-duration: 2000ms;
								-moz-animation-iteration-count: infinite;
								-moz-animation-timing-function: linear;
								
								-ms-animation-name: spin;
								-ms-animation-duration: 2000ms;
								-ms-animation-iteration-count: infinite;
								-ms-animation-timing-function: linear;
							
								animation-name: spin;
								animation-duration: 2000ms;
								animation-iteration-count: infinite;
								animation-timing-function: linear;
							}
							@-ms-keyframes spin {
							    from { -ms-transform: rotate(0deg); }
							    to { -ms-transform: rotate(360deg); }
							}
							@-moz-keyframes spin {
							    from { -moz-transform: rotate(0deg); }
							    to { -moz-transform: rotate(360deg); }
							}
							@-webkit-keyframes spin {
							    from { -webkit-transform: rotate(0deg); }
							    to { -webkit-transform: rotate(360deg); }
							}
							@keyframes spin {
							    from { transform:rotate(0deg); }
							    to { transform:rotate(360deg); }
							}
						</style>
						<div id="demo1-id1">
							<div class="sync-wap"><i class="sync"></i></div>
						</div>
						<input type="button" onclick="demo1_1();" value="demo1_1" />
						<script type="text/javascript">	
							function demo1_1(){
								$("#demo1-id1 .sync").toggleClass("rotate");
							}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">loading</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
								/*change these sizes to fit into your project*/
								width:100px;
								height:100px;
							}
							.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin2 2s ease infinite}

							.load :first-child{background:#19A68C;animation-delay:-1.5s}
							.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
							.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
							.load :last-child{background:#193B48}

							@keyframes spin2{
								0%,100%{transform:translate(0)}
								25%{transform:translate(160%)}
								50%{transform:translate(160%, 160%)}
								75%{transform:translate(0, 160%)}
							}
						</style>
						<div id="demo2-id1" style="position:relative;height:100px;">
							<div class="load">
								<hr/><hr/><hr/><hr/>
							</div>
						</div>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">text loading</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							/*
							.anim-loading-text {position: fixed;width: 100%;height: 100%;left: 0;top: 0; font-size:18px;}
							.anim-loading-text .spinner {color:#fff;position: fixed;width: 200px;height: 30px;text-align: center;top: calc(45% - 30px/2);left: calc(50% - 200px/2)}
							*/
							.anim-loading-text .spinner>div {display: inline-block; -webkit-animation: stretchdelay 1.2s infinite ease-in-out;}
							.anim-loading-text .spinner .circ2 {-webkit-animation-delay: -1.1s;}
							.anim-loading-text .spinner .circ3 {-webkit-animation-delay: -1.0s;}
							.anim-loading-text .spinner .circ4 {-webkit-animation-delay: -0.9s;}
							.anim-loading-text .spinner .circ5 {-webkit-animation-delay: -0.8s;}
							.anim-loading-text .spinner .circ6 {-webkit-animation-delay: -0.7s;}
							.anim-loading-text .spinner .circ7 {-webkit-animation-delay: -0.6s;}
							.anim-loading-text .spinner .circ8 {-webkit-animation-delay: -0.5s;}
							.anim-loading-text .spinner .circ9 {-webkit-animation-delay: -0.4s;}

							@-webkit-keyframes stretchdelay {
								0%,100%,40% {-webkit-transform: translateY(-12px)}
								20% {-webkit-transform: translateY(-20px)}
							}
						</style>
						<div id="demo3-id1" class="anim-loading-text" style="margin-top:20px;">
							<div class="spinner">
								<div class="circ1">l</div>
								<div class="circ2">o</div>
								<div class="circ3">a</div>
								<div class="circ4">d</div>
								<div class="circ5">i</div>
								<div class="circ6">n</div>
								<div class="circ7">g</div>
								<div class="circ8">.</div>
								<div class="circ9">.</div>
							</div>
						</div>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">image blink</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							.blink-img{animation:blink 1s ease infinite}
							@keyframes blink{
								from {opacity: 1.0;}
								to {opacity: 0.0;}
							}
						</style>
						<div id="demo4-id1" style="position:relative;height:100px;">
							<img src="http://lgdeviceon.com/Console/Management/resources/Images/DeviceON_logo.PNG" />
							<input type="button" onclick="demo4_1();" value="demo4_1" />
						</div>
						<script type="text/javascript">	
							function demo4_1(){
								$("#demo4-id1 img").toggleClass("blink-img");
							}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">loading bar</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							.loading-wave {
								position: absolute;
								top: 0;
								left: calc(50% - 31px);
							}

							.loading-wave span {
								display: inline-block;
								width: 10px;
								height: 10px;
								border-radius: 20%;
								background: #aaa;
								margin: 3px;
								opacity: .2;
								animation-name: loading-wave;
								animation-duration: 1.5s;
								animation-iteration-count: infinite;
								transform: scale(0.3);
							}

							.loading-wave span:nth-child(2) {
								animation-delay: .3s;
							}

							.loading-wave span:nth-child(3) {
								animation-delay: .6s;
							}

							.loading-wave span:nth-child(4) {
								animation-delay: .9s;
							}

							@-webkit-keyframes loading-wave {
								0% {
									opacity: .2;
								}

								20% {
									opacity: 1;
									transform: scale(1);
								}

								100% {
									opacity: .2;
									transform: scale(0.3);
								}
							}
						</style>
						<div style="position:relative;height:20px;margin:10px 0;">
							<div class="loading-wave">
								<span></span><span></span><span></span><span></span>
							</div>
						</div>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
