<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
			<span class="title">selector</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							#demo1-id1 li:first-child { color:blue; }
							#demo1-id1 li:last-child { color:green; }

							#demo1-id1 li:nth-child(4) { color:hotpink; }
							#demo1-id1 li:nth-last-child(2) { color:brown; }
						</style>
						<div id="demo1-id1">
							<ul>
								<li>11111111111111</li>
								<li>22222222222222</li>
								<li>33333333333333</li>
								<li>44444444444444</li>
								<li>55555555555555</li>
								<li>66666666666666</li>
								<li>77777777777777</li>
								<li>88888888888888</li>
							</ul>
						</div>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
        <h2>
            <span class="title">placeholder</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                            [contentEditable=true]:empty:not(:focus):before { content:attr(placeholder) }
                            #demo2-id1{border:1px solid #ddd;padding:10px;}
                        </style>
                        <div id="demo2-id1">
                            <div contentEditable=true placeholder="Enter text here"></div>
                        </div>
                    </div>
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">button</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css"> 
                            .btn {
                                background-color: #2196F3;
                                color: white;
                                padding: 16px;
                                font-size: 16px;
                                border: none;
                                outline: none;
                            }

                            .dropdown {
                                position: absolute;
                                display: inline-block;
                            }

                            .dropdown-content {
                                display: none;
                                position: absolute;
                                background-color: #f1f1f1;
                                min-width: 160px;
                                z-index: 1;
                            }

                            .dropdown-content a {
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                            }

                            .dropdown-content a:hover {background-color: #ddd}

                            .dropdown:hover .dropdown-content {
                                display: block;
                            }

                            .btn:hover, .dropdown:hover .btn {
                                background-color: #0b7dda;
                            }
                        </style>
                        <div id="demo3-id1">
                            <button class="btn">Button</button>
                            <div class="dropdown">
                                <button class="btn" style="border-left:1px solid #0d8bf2">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="javascript:;">Link 1</a>
                                    <a href="javascript:;">Link 2</a>
                                    <a href="javascript:;">Link 3</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">tab</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">bar <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css"> 
                            .bar-tab { display:table; width:auto;  background:#fff; overflow:scroll; border-bottom:3px solid #ddd; min-width:100%;}
                            .bar-tab li { display:table-cell; padding:0 6px;}
                            .bar-tab li a { display:block; height:42px; line-height:42px; font-size:15px; font-weight:bold; color:#000; text-align:center; border-bottom:2px solid #fff; }
                            .bar-tab li.current a { font-weight:bold; color:#00a885; border-color:#00a885; }
                        </style>
                        <script type="text/javascript"> 
                            $(document).ready(function () {
                                $(".bar-tab a").click(function(){
                                    $(this).parent().addClass("current").siblings(".current").removeClass("current");
                                });
                            });
						</script>
                        <div id="demo4-id1" style="width:500px;">
                            <ul class="bar-tab">
                                <li class="current"><a href="javascript:void(0);">메일</a></li>
                                <li><a href="javascript:void(0);">일정</a></li>
                                <li><a href="javascript:void(0);">결재</a></li>
                                <li><a href="javascript:void(0);">할일</a></li>
                            </ul>
                        </div>
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
            <div class="example">
                <div class="entry-demo-title">block <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css"> 
                            .block-tab {
                                overflow: hidden;
                                border: 1px solid #ccc;
                                background-color: #f1f1f1;
                            }

                            .block-tab button {
                                background-color: inherit;
                                float: left;
                                border: none;
                                outline: none;
                                cursor: pointer;
                                padding: 14px 16px;
                                transition: 0.3s;
                                font-size: 17px;
                            }

                            .block-tab button:hover {
                                background-color: #ddd;
                            }

                            .block-tab button.active {
                                background-color: #ccc;
                            }

                            .tabcontent {
                                display: none;
                                padding: 6px 12px;
                                border: 1px solid #ccc;
                                border-top: none;
                            }
                        </style>
                        <script type="text/javascript"> 
                            $(document).ready(function () {
                                $(".block-tab>button").click(function(){
                                    var _index = $(".block-tab>button").index(this)
                                    $(this).addClass("active").siblings(".active").removeClass("active");
                                    $(".tabcontent").eq(_index).show().siblings(".tabcontent").hide();
                                });
                            });
						</script>
                        <div id="demo4-id2">
                            <div class="block-tab">
                                <button class="tablinks">Tab1</button>
                                <button class="tablinks">Tab2</button>
                                <button class="tablinks">Tab3</button>
                            </div>
                            <div class="tabcontent">
                                <h3>Tab1</h3>
                                <p>contents.</p>
                            </div>
                            <div class="tabcontent">
                                <h3>tab2</h3>
                                <p>contents</p> 
                            </div>  
                            <div class="tabcontent">
                                <h3>tab3</h3>
                                <p>contents</p>
                            </div>
                        </div>
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">center</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                            #demo5-id1, #demo5-id2 {position:relative;height:200px;width:100%;border:1px solid #ddd;margin-bottom:5px;}
                            .div-center {
                                position: absolute; 
                                background-color:bisque; 
                                width:200px;
                                height:30px;
                                text-align:center;
                                top: calc(50% - 30px/2);
                                left:calc(50% - 200px/2)
                            }
                            .vertical-center {
                                margin: 0;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                        </style>
                        <div id="demo5-id1">
                            <div class="div-center"></div>
                        </div>
                        <div id="demo5-id2">
                            <div class="vertical-center"><button>Centered Button</button></div>
                        </div>
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">switches</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                            input.wradio {
                                width: 20px;
                                height: 20px;
                                vertical-align: middle;
                                -webkit-appearance: none;
                                padding: 1px;
                                margin-top: -4px;
                                background: #fff;
                                border: solid 1px #ccc;
                                border-radius: 50%;
                            }

                            input.wradio:after  {
                                content: ' ';
                                position: relative;
                                top: 3px;
                                left: 3px;
                                display: block;
                                width: 10px;
                                height: 10px;
                                background: #ccc;
                                border-radius: 50%;
                            }

                            input.wradio:checked {
                                padding: 0;
                                background: #fff;
                                border: solid 1px #00a885;
                            }

                            input.wradio:checked:after {
                                top: 4px;
                                left: 4px;
                                background: #00a885;
                            }

                            input.wcheckbox {
                                width: 22px;
                                height: 22px;
                                background: url(../images/btn_form.png) no-repeat 0 0;
                                background-size: 22px auto;
                                -webkit-appearance: none;
                                border: 0;
                                cursor: pointer;
                            }

                            input.wcheckbox:checked {
                                background-position: 0 -50px;
                            }

                            .switch {
                                display:inline-block;
                                cursor: pointer;
                            }

                            .switch input {
                                position: absolute;
                                opacity: 0;
                            }

                            .switch span.box {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: inline-block;
                                width: 52px;
                                height: 26px;
                                border-radius: 20px;
                                background-color: #ccc;
                                -webkit-transition: background-color 0.35s;
                                transition: background-color 0.35s;
                            }

                            .switch span.box:after {
                                position: absolute;
                                content: "";
                                left: 5px;
                                top: 5px;
                                bottom: 5px;
                                width: 16px;
                                background-color: #fff;
                                border-radius: 20px;
                                -webkit-transition: all 0.15s ease-out;
                                transition: all 0.15s ease-out;
                            }

                            .switch input:checked+span.box:after {
                                left: 28px;
                                width: 22px;
                                top: 2px;
                                bottom: 2px;
                                border: none;
                            }

                            .switch input:checked+span.box {
                             background-color: #eee;
                            }

                            .switch-color1 span.box {
                                border: none;
                            }

                            .switch-color1 input:checked+span.box {
                             background-color: #00a885;
                            }

                            #demo6-id1>div {
                                height:30px;
                            }
                        </style>
                        <script type="text/javascript"> 
                            // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
                            window.onscroll = function() {scrollFunction()};
                            
                            function scrollFunction() {
                              if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                                document.getElementById("navbar").style.padding = "30px 10px";
                                document.getElementById("logo").style.fontSize = "25px";
                              } else {
                                document.getElementById("navbar").style.padding = "80px 10px";
                                document.getElementById("logo").style.fontSize = "35px";
                              }
                            }
                        </script>
                            
                        <div id="demo6-id1">
                            <div>
                                <label><input type="radio" checked="checked" name="radio6" value="1" class="wradio" /> <span>one</span></label>
                                <label><input type="radio" name="radio6" value="2" class="wradio" /> <span>two</span></label>
                                <label><input type="radio" name="radio6" value="3" class="wradio" /> <span>three</span></label>
                            </div>
                            <div>
                                <label><input type="checkbox" class="wcheckbox"><span>all</span></label></label>
                            </div>
                            <div style="position:relative;padding-left:50px;">
                                <label class="switch switch-color1"><input type="checkbox" value="1"><span class="box"></span></label>
                            </div>
                        </div>
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">ellipsis</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                            .div-ellipsis{
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width:100px;
                            }
                        </style>
                        <div>
                            <div class="div-ellipsis">
                                가나다라마바사 아자차카 타파하
                            </div>
                        </div>
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">overlay</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                            .overlay {
                                position: fixed; /* Sit on top of the page content */
                                display: none; /* Hidden by default */
                                width: 100%; /* Full width (cover the whole page) */
                                height: 100%; /* Full height (cover the whole page) */
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: rgba(0,0,0,0.5); /* Black background with opacity */
                                z-index: 1001; /* Specify a stack order in case you're using a different order for other elements */
                                cursor: pointer; /* Add a pointer on hover */
                            }
                        </style>
                        <script type="text/javascript"> 
                            function demo1_7(){
                                $("#demo7-id1").toggle();
                            }
                        </script>
                        <div id="demo7-id1" class="overlay" onclick="demo1_7();"></div>
                        <input type="button" onclick="demo1_7();" value="demo1_7" />
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">collapsible</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                            .collapsible-area .collapsible {
                                background-color: #777;
                                color: white;
                                cursor: pointer;
                                padding: 18px;
                                width: 100%;
                                border: none;
                                text-align: left;
                                outline: none;
                                font-size: 15px;
                            }

                            .collapsible-area .active, .collapsible-area .collapsible:hover {
                                background-color: #555;
                            }

                            .collapsible-area .collapsible:after {
                                content: '\002B';
                                color: white;
                                font-weight: bold;
                                float: right;
                                margin-left: 5px;
                            }

                            .collapsible-area .active:after {
                                content: "\2212";
                            }

                            .collapsible-area .content {
                                padding: 0 18px;
                                max-height: 0;
                                overflow: hidden;
                                transition: max-height 0.2s ease-out;
                                background-color: #f1f1f1;
                            }
                        </style>
                        <script type="text/javascript">
                        
                            $(".collapsible-area .collapsible").click(function(){
                                const $t = $(this).toggleClass("active"),
                                    $c = $t.next("div");

                                if($t.hasClass("active")){
                                    $c.css("maxHeight", $c.prop("scrollHeight") + "px");
                                }else{
                                    $c.css("maxHeight", "0px");
                                }

                                $t.siblings(".active").each(function(){
                                    $(this).removeClass("active").next("div").css("maxHeight", "0px");
                                });
                            });

                            function demo1_8(){
                                $(".collapsible-area .collapsible:eq(0)").trigger("click");
                            }
                        </script>
                        <div id="demo8-id1" class="collapsible-area">
                            <button class="collapsible">Open Section 가</button>
                            <div class="content">
                            <p>가가가가가가가가가<br/>가가가가가가가가가<br/>가가가가가가가가가<br/>가가가가가가가가가<br/>가가가가가가가가가<br/></p>
                            </div>
                            <button class="collapsible">Open Section 나</button>
                            <div class="content">
                                <p>나나나나나나나나나<br/>나나나나나나나나나<br/>나나나나나나나나나<br/>나나나나나나나나나<br/>나나나나나나나나나<br/></p>
                            </div>
                            <button class="collapsible">Open Section 3</button>
                            <div class="content">
                            <p>다다다다다다다다다<br/>다다다다다다다다다<br/>다다다다다다다다다<br/>다다다다다다다다다<br/>다다다다다다다다다<br/></p>
                            </div>
                        </div>
                        <input type="button" onclick="demo1_8();" value="demo1_8" />
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="entry-api-item">
        <h2>
            <span class="title">opacity</span>
        </h2>
        <div>
            <div class="example">
                <div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
                <div>
                    <div class="entry-demo-content">
                        <style type="text/css">
                           #demo9-id1 {
                               position: relative;
                           }

                           #demo9-id1::after {
                            content: "";
                            position: absolute;
                            bottom:0;
                            left:0;
                            right:0;
                            height:140px;
                            background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 60%);
                            }
                        </style>
                        <div id="demo9-id1" class="collapsible-area">
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가<br/>
                            가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가
                        </div>
                    </div>  
                    <div class="entry-source-title"></div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: css; html-script: true;"></pre>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
