<div class="entry-summary"><br/><br/><b>참조 사이트 :</b> <a href="https://www.w3schools.com/css/css3_animations.asp" target="_blank">CSS3 Animations</a>, <a href="https://github.com/Keyframes/jQuery.Keyframes" target="_blank">jQuery.Keyframes</a></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">rotate</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							div.sync-wap {padding:10px;background-color:#aaa;width:30px;}
							i.sync { display: inline-block; vertical-align: middle; background:url(/images/ic_sync.png) no-repeat; width: 30px; height: 30px; background-position: 0px 0px; background-size: 30px auto;}
							i.rotate {
								-webkit-animation-name: spin;
								-webkit-animation-duration: 2000ms;
								-webkit-animation-iteration-count: infinite;
								-webkit-animation-timing-function: linear;
								
								-moz-animation-name: spin;
								-moz-animation-duration: 2000ms;
								-moz-animation-iteration-count: infinite;
								-moz-animation-timing-function: linear;
								
								-ms-animation-name: spin;
								-ms-animation-duration: 2000ms;
								-ms-animation-iteration-count: infinite;
								-ms-animation-timing-function: linear;
							
								animation-name: spin;
								animation-duration: 2000ms;
								animation-iteration-count: infinite;
								animation-timing-function: linear;
							}
							@-ms-keyframes spin {
							    from { -ms-transform: rotate(0deg); }
							    to { -ms-transform: rotate(360deg); }
							}
							@-moz-keyframes spin {
							    from { -moz-transform: rotate(0deg); }
							    to { -moz-transform: rotate(360deg); }
							}
							@-webkit-keyframes spin {
							    from { -webkit-transform: rotate(0deg); }
							    to { -webkit-transform: rotate(360deg); }
							}
							@keyframes spin {
							    from { transform:rotate(0deg); }
							    to { transform:rotate(360deg); }
							}
						</style>
						<div id="demo1-id1">
							<div class="sync-wap"><i class="sync"></i></div>
						</div>
						<input type="button" onclick="demo1_1();" value="demo1_1" />
						<script type="text/javascript">	
							function demo1_1(){
								$("#demo1-id1 .sync").toggleClass("rotate");
							}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">loading</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
								/*change these sizes to fit into your project*/
								width:100px;
								height:100px;
							}
							.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin2 2s ease infinite}

							.load :first-child{background:#19A68C;animation-delay:-1.5s}
							.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
							.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
							.load :last-child{background:#193B48}

							@keyframes spin2{
								0%,100%{transform:translate(0)}
								25%{transform:translate(160%)}
								50%{transform:translate(160%, 160%)}
								75%{transform:translate(0, 160%)}
							}
						</style>
						<div id="demo2-id1" style="position:relative;height:100px;">
							<div class="load">
								<hr/><hr/><hr/><hr/>
							</div>
						</div>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
