<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">simple</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						/*가로모드*/
						@media only screen and (orientation : landscape) {
						}
						/*세로모드 iphon4이하*/
						@media only screen and (orientation : portrait) and (max-device-height: 480px) {
						}
						/*세로모드 iphon5이상*/
						@media only screen and (orientation : portrait) and (min-device-height: 568px) {
						}
					</textarea>
					<div class="entry-source-title">사파리 브라우저</div>
					<div class="entry-demo-source-content">
						<pre class="brush: css;"></pre>
					</div>
				</div>
			</div>
			
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">Advence</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						
					</textarea>
					<div class="entry-source-title">template</div>
					<div class="entry-demo-source-content">
						<pre class="brush: css;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
