<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
			<span class="title">mobile</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						/*복사기능, ios 선택 막기*/
						body { -webkit-text-size-adjust:none; -webkit-user-select:none; -webkit-touch-callout: none;}
						
						/*ios 드래그막기*/
						a:link, a:visited, a:hover, a:active { text-decoration:none !important; color:#111; -webkit-user-drag:none;}

						/*스크롤 커스텀*/
						::-webkit-scrollbar { width: 2px; height:0;}
						::-webkit-scrollbar-track { background: none; }
						::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0.3); }
						
						/*선택 효과X*/
						-webkit-tap-highlight-color: rgba(0,0,0,0);
						-webkit-tap-highlight-color: transparent;

						/*크롬 테두리 제거*/
						outline: none;
					</textarea>
					<div class="entry-source-title">simple</div>
					<div class="entry-demo-source-content">
						<pre class="brush: css;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">basic</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						/*shade*/
						.back-shade { position:absolute; top:0; left:0; width:100%; height:100%; background:#000; z-index:100; opacity:0.75; }
						.back-white { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff url(../images/loading.gif) no-repeat center; background-size:50px auto; z-index:100; }

						/*table fix*/
						table.table { border-spacing: 0; width:100%; table-layout:fixed; border-collapse:collapse; background-color:#fff; }

						/*icon*/
						i.icon { display:inline-block; vertical-align:middle; background:url(../images/ic_common.png) no-repeat; }
						i.icon.default-mail { width:25px; height:23px; background-position:0 -500px; background-size:200px auto; }

						/*ellipsis*/
						.ellipsis {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
					</textarea>
					<div class="entry-source-title">simple</div>
					<div class="entry-demo-source-content">
						<pre class="brush: css;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">tip</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						/*div center*/
						.div-center {position:fixed; width:200px;height:30px;text-align:center;top: calc(50% - 30px/2);left:calc(50% - 200px/2)}
					</textarea>
					<div class="entry-source-title">simple</div>
					<div class="entry-demo-source-content">
						<pre class="brush: css;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
			<span class="title">work</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">selector <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							#demo4-id1 li:first-child { color:blue; }
							#demo4-id1 li:last-child { color:green; }

							#demo4-id1 li:nth-child(4) { color:hotpink; }
							#demo4-id1 li:nth-last-child(2) { color:brown; }
						</style>
						<div id="demo4-id1">
							<ul>
								<li>11111111111111</li>
								<li>22222222222222</li>
								<li>33333333333333</li>
								<li>44444444444444</li>
								<li>55555555555555</li>
								<li>66666666666666</li>
								<li>77777777777777</li>
								<li>88888888888888</li>
							</ul>
							<input type="button" onclick="demo4_1();" value="demo4_1" />
						</div>
						<script type="text/javascript">	
							function demo4_1(){
								$("#demo4-id1 img").toggleClass("blink-img");
							}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="example">
				<div class="entry-demo-title">placeholder <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							[contentEditable=true]:empty:not(:focus):before { content:attr(placeholder) }
							#demo5-id1{border:1px solid #ddd;padding:10px;}
						</style>
						<div id="demo5-id1">
							<div contentEditable=true placeholder="Enter text here"></div>
						</div>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
