<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">iframe</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-iframe"><iframe src="about:blank" frameborder="0"></iframe></div>
					<textarea class="entry-demo-textarea-content none">
						<b>good</b>
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
