<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">simple...</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Serve modules without publishing, Publish module contexts to seperate XML files
					</textarea>
					<div class="entry-source-title">Note1</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
			<div class="example">
                <div>
                    <textarea class="entry-demo-textarea-content none">
                        Serve modules without publishing, Publish module contexts to seperate XML files
                    </textarea>
                    <div class="entry-source-title">Note2</div>
                    <div class="entry-demo-source-content">
                        <pre class="brush: text;"></pre>
                    </div>
                </div>
            </div>
		</div>
	</li>
</ul>
