<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<h2>
    		<span class="title">functionName(value)</span>
    		<span class="return">→ String</span>
		</h2>
		<div>
			<table class="arguments">
				<tbody>
					<tr>
			  			<td class="name">value</td>
			  			<td class="type">Integer</td>
			  			<td class="desc">숫자</td>
					</tr>
				</tbody>
			</table>
			<div class="example">
				<div class="entry-source-title">source <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div class="entry-source-content">
					<pre class="brush: js: true;"></pre>
				</div>
				<script type="text/javascript">
					$("div.entry-source-content").find("pre").html(addComma.toString());
				</script>
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<div id="demo1-id1">demo1_1</div>
						<input type="button" onclick="demo1_1();" value="demo1_1" />
						<script type="text/javascript">
							function demo1_1(){
								var demo1_1 = 123456789;
						  		$("#demo1-id1").html(addComma(demo1_1));
						  	}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: js; html-script: true; highlight: [6]"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">iframe</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-iframe"><iframe src="about:blank" frameborder="0"></iframe></div>
					<textarea class="entry-demo-textarea-content none">
						<b>good</b>
					</textarea>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">sample</span>
		</h2>
		<div>
			<div class="example">
				<div class="entry-demo-title">demo <a href="javascript:void(0);" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-triangle-s"></span></a></div>
				<div>
					<div class="entry-demo-content">
						<style type="text/css">
							a.sample {color:red;}
						</style>
						<div id="demo3-id1">
							
						</div>
						<input type="button" onclick="demo3_1();" value="demo3_1" />
						<script type="text/javascript">	
							function demo3_1(){
								$("#demo3-id1").html("<a href='#' class='sample'>sample</a>");
							}
						</script>
					</div>
					<div class="entry-source-title"></div>
					<div class="entry-demo-source-content">
						<pre class="brush: css; html-script: true;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<h2>
    		<span class="title">simple...</span>
		</h2>
		<div>
			<div class="example">
				<div>
					<textarea class="entry-demo-textarea-content none">
						Serve modules without publishing, Publish module contexts to seperate XML files
					</textarea>
					<div class="entry-source-title">Simple</div>
					<div class="entry-demo-source-content">
						<pre class="brush: text;"></pre>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
