<div class="entry-summary"></div>
<ul class="entry-api">
	<li class="entry-api-item">
		<div>
			<h2>
	    		<span class="title">download</span>
			</h2>
			<div class="example">
				<div>
					<a href="https://github.com/bibaboo/bibaboo.github.com" target="_blank">bibaboo.github.com</a>
				</div>
			</div>
		</div>
	</li>
	<li class="entry-api-item">
		<div>
			<h2>
	    		<span class="title">source</span>
			</h2>
			<div class="example">
				<script type="text/javascript">
					$.get("../../js/lib/wjquery/wjquery.js", function(html) {
						$("#pre-wjquery").html(replaceString("htmlEscape", html));
						SyntaxHighlighter.highlight();
					});
				</script>
				<div class="entry-demo-source-content-manual">
					<pre id="pre-wjquery" class="brush: js;"></pre>
				</div>
			</div>
		</div>
	</li>
</ul>