<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jquery.wonchu</title>
<link href='/css/base.css' rel='stylesheet' type='text/css' />
<style type='text/css'>
	.input{border:none;width:100%;height:25px;}
	.line{padding:5px 10px;border-top:1px solid #dddddd;width:100%;min-height:30px}
	.none{display:none;}
	.lightbox-content {position: absolute; top:30%;left:40%;color:white;width:250px}
	.lightbox-content div{width:100%;font-size:16px;padding:10px}
	.lightbox-content div.head{font-weight:bold;background-color:#000000;color:#ffffff;position:relative;}
	.lightbox-content div.head .closeBtn{position:absolute;top:5px;right:5px;}
	.lightbox-content div.item{background-color:#ffffff;color:#000000;border-bottom:1px solid #eeeeee;}
</style>
<script type="text/javascript" src="/js/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.tmpl.js"></script>
<script type="text/javascript">

var testData = "";

/**
 * 모바일용 이미지 + text 내용 작성
 **/
var dynaWrite = new(function() {
	var currentIndex = 0;
	var selectImage;
	var constant = {
		view : "#viewDiv",
		add	 : "#addDiv",
		mode : {
			write : "write",
			view  : "view"
		},
		p : { 
			text  : "dynaWriteText",
			image : "dynaWriteImage"
		}
	};
	
	// view or write
	var mode = constant.mode.view;
	
	/**
	 * template
	 **/
	var tmpl = {
		text 	 :	"<div class=\"line text\" designmode=\"on\" style=\"min-height:20px;\" contenteditable=\"true\">{{html value}}</div>",
		image 	 :	"<div class=\"line image\">" +
					"	<img src=\"${src}\" width=\"30\" size=\"${size}\" scale=\"${scale}\" height=\"30\"/> ${scale} ${size}" +
					"</div>",
		lightbox :  "<div class=\"lightbox\"><div class=\"lightbox-content\"></div></div>",
		lightbox_1 : "<div class=\"head\">옵션선택<span class=\"closeBtn\"><a href=\"##\" onclick=\"dynaWrite.hideBox();\">X</a></span></div><div class=\"item delete\"><a href=\"##\" onclick=\"dynaWrite.removeImage();\">삭제하기</a></div><div class=\"item up\"><a href=\"##\" onclick=\"dynaWrite.insertText('up');\">위에 내용 입력하기</a></div><div class=\"item down\"><a href=\"##\" onclick=\"dynaWrite.insertText('down');\">아래에 내용 입력하기</a></div>"
	};
	
	function init(v){
		$(constant.view).on("click", ">div.text", function(){
			if($(constant.add).is(":visible")){
				currentIndex = $(">div", $(constant.view)).index(this);
				toggle(constant.mode.write);
			}
		});
		
		$(constant.view).on("click", ">div.image", function(){
			selectImage = this;
			showBox();
		});
		
		if(typeof(v)!="undefined"){
			var $div = $("<div/>").html(v);
			$div.find(">p").each(function(){
				if($(this).hasClass(constant.p.text)){
					$(constant.view).append($.tmpl(tmpl.text, {value:$(this).html()}));
				}else if($(this).hasClass(constant.p.image)){
					var $img = $(this).find("img");
					$(constant.view).append($.tmpl(tmpl.image, {"src":$img.attr("src"),"size":$img.attr("size"),"scale":$img.attr("scale")}));
				}
			});
		}
	}
	
	/**
	 * 내용버튼을 클릭시
	 **/
	function text(){
		if($(constant.view).find(">div").length==0){
			$(constant.view).append($.tmpl(tmpl.text, {value:""}));
			$(constant.view).find(">div:first").trigger("click");	
		}else{
			if($(constant.view).find(">div:last").hasClass("text")){
				$(constant.view).find(">div:last").trigger("click");
			}else{
				$(constant.view).append($.tmpl(tmpl.text, {value:""}));
				$(constant.view).find(">div:last").trigger("click");
			}
		}
	}
	
	function toggle(_mode){
		if(typeof(_mode)!="undefined") mode = _mode;
		
		if(mode==constant.mode.write){
			$("#baseDiv, #addDiv").hide();
			$("#buttonDiv input:last").show();
			$(constant.view).find(">div:eq(" + currentIndex + ")").focus();
		}else if(mode==constant.mode.view){
			$("#baseDiv, #addDiv").show();
			$("#buttonDiv input:last").hide();
			var $t = $(constant.view).find(">div:eq(" + currentIndex + ")");
			if($.trim($t.text())==""){
				$t.remove();
			}
		}
	}
	
	function done(){
		toggle(constant.mode.view);
	}
	
	function image(){
		var info = {"src":"/images/layerpopbg.png", "size":"30KB", "scale":"320 * 100"}
		$(constant.view).append($.tmpl(tmpl.image, info));
		if(mode==constant.mode.write){
			toggle(constant.mode.view);
		}
	}
	
	function showBox(){
		if ($('.lightbox').length == 0) {
 			$('body').append($.tmpl(tmpl.lightbox));
 	    }
 		
 		$('.lightbox-content').html($.tmpl(tmpl.lightbox_1)).parent().show();
 		
 		if($(selectImage).prev(".text").length==1){
 			$("div.lightbox-content>div.up").hide();
 		}else{
 			$("div.lightbox-content>div.up").show();
 		}
 		
 		if($(selectImage).next(".text").length==1){
 			$("div.lightbox-content>div.down").hide();
 		}else{
 			$("div.lightbox-content>div.down").show();
 		}
	}
	
	function hideBox(){
		$('.lightbox').hide();
	}
	
	function removeImage(){
		$(selectImage).remove();
		hideBox();
	}
	
	function insertText(p){
		hideBox();
		var $new = $.tmpl(tmpl.text, {value:""});
		if(p=="up"){
			$(selectImage).before($new);
		}else{
			$(selectImage).after($new);	
		}
		$new.trigger("focus");
	}
	 
	function convert(v){
		v = replace(replace(v, "<div>", "lt_br_gt"), "</div>", "");
		v = String(v).replace(/&/g, '&amp;').replace(/"/g, '&quot;').replace(/'/g, '&#39;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br />');
		return replace(v, "lt_br_gt", "<br>");
	}
	
	function get(){
		var output="";
		$(constant.view).find(">div").each(function(){
			if($(this).hasClass("text")){
				output += "<p class=\"" + constant.p.text + "\">" + convert($(this).html()) + "</p>";
			}else if($(this).hasClass("image")){
				var $img = $(this).find("img");
				output += "<p class=\"" + constant.p.image + "\"><img src=\"" + $img.attr("src") + "\" size=\"" + $img.attr("size") + "\" scale=\"" + $img.attr("scale") + "\"/></p>";
			}
		});
		
		testData = output;
		$.alert("output=>" + testData);
		$.alert("init")
		dynaWrite.init(testData);
	}
	
	function replace (v, f, t) {
        return v.replace(new RegExp(f, "ig"), t);
    }
	
	return {
   		init : init,
   		done : done,
   		image : image,
   		text : text,
   		hideBox : hideBox,
   		removeImage : removeImage,
   		insertText : insertText,
   		get : get
   	};
});

$(function() {
	dynaWrite.init();
});

</script>
</head>
<body>
<div id="baseDiv">
	<div class="line">
		<select id="boardId"><option>게시판 선택</option></select>
	</div>
	<div class="line">
		<input type="text" name="title" class="input" placeholder="제목">
	</div>
</div>
<div id="viewDiv"></div>
<div id="addDiv">
	<div class="line" onclick="dynaWrite.text();">
		<input type="text" class="input" placeholder="내용" readonly="readonly">
	</div>
</div>
<div id="buttonDiv">
	<input type="button" value="이미지" onclick="dynaWrite.image()" />
	<input type="button" value="완료" onclick="dynaWrite.done()" class="none" />
</div>

<div style="padding-top:30px">
	<input type="button" value="저장" onclick="dynaWrite.get()"/>
</div>
<p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p>
<p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p><p>aaa</p>
</body>
</html>